<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/product/form" method="POST">
        <h3>Add Product</h3>
        <input type="text" placeholder="title" name="title">
        <input type="number" placeholder="price" name="price">
        <button>Submit</button>
    </form>
</body>

</html>